.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  .col{
    height: 100%;
    width: 90%;
  
  }
  .texts{
    font-size:32px;
   
    color: white;
    top: 100;
  padding: 20px;
  }
  .texts a{
    text-decoration: underline;
    font-size: 15px;
  }
  .texts h1{
    font-size: 44px;
    font-weight: 700;
  }
  .texts b{
    font-size: 26px;
  }
  .col1{
    width: 100%;
    text-align: center;
  }
  .col1 h1{
    font-size:48px;
  }